body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(54, 40, 180);
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.logo img {
    width: 50px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 15px;
}

.buttons button {
    background-color: #4285F4;
    color: white;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.or {
    margin: 10px 0;
    color: #888;
}

input[type="email"], 
input[type="password"], 
input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-color: #00BFFF;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.terms {
    font-size: 12px;
    color: #888;
    margin-top: 15px;
}
